{% extends 'layout/layout.html' %}
{% block content %}
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 col-sm-10">
                <img src="{{ url_for('static', filename='error_logo/error_404.svg') }}"
                    alt="error_404" class="img-fluid d-block mx-auto">
                <h1 class="mt-3">
                    Sorry for the inconvinience!
                </h1>
                <div class="text-center">
                    <a class="btn btn-primary" href="{{ url_for('main.index') }}">Click Here</a>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}