{% extends 'layout/admin_layout.html' %}
{% block content %}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-header text-center" style="background-color: rgb(7, 88, 117); color: white;">
                        Set Bill Slab Cost
                </div>
                <div class="card-body">

                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <!-- Registration Form Data begins here -->
                            
                            <div class="col-lg-6 col-md-6 col-sm-12">    
                                <!-- Input Lower Slab-->
                                <div class="form-group">
                                    {{ form.low_slab.label(for="bill-low_slab") }}
                                    {% if form.low_slab.errors %}
                                        {{ form.low_slab(class="form-control is-invalid", id="bill-low_slab", placeholder="Enter Lower Billing Slab") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.low_slab.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.low_slab(class="form-control", id="bill-low_slab", placeholder="Enter Lower Billing Slab") }}
                                    {% endif %}
                                </div>
                            </div>
                            
                            
                            <div class="col-lg-6 col-md-6 col-sm-12">    
                                <!-- Input Upper Slab -->
                                <div class="form-group">
                                    {{ form.high_slab.label(for="bill-high_slab") }}
                                    {% if form.high_slab.errors %}
                                        {{ form.high_slab(class="form-control is-invalid", id="bill-high_slab", placeholder="Enter Higher Billing Slab") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.high_slab.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.high_slab(class="form-control", id="bill-high_slab", placeholder="Enter Higher Billing Slab") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">    
                                
                                <div class="form-group">
                                    {{ form.housing_cost.label(for="bill-housing-cost") }}
                                    {% if form.housing_cost.errors %}
                                        {{ form.housing_cost(class="form-control is-invalid", id="bill-housing-cost", placeholder="Residential Cost") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.housing_cost.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.housing_cost(class="form-control", id="bill-housing-cost", placeholder="Residential Cost") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">    
                                    <div class="form-group">
                                        {{ form.commercial_cost.label(for="bill-commercial-cost") }}
                                        {% if form.commercial_cost.errors %}
                                            {{ form.commercial_cost(class="form-control is-invalid", id="bill-commercial-cost", placeholder="Commercial Cost") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.commercial_cost.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.commercial_cost(class="form-control", id="bill-commercial-cost", placeholder="Commercial Cost") }}
                                        {% endif %}
                                    </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">    
                                <div class="form-group">
                                    {{ form.penalty.label(for="bill-penalty-cost") }}
                                    {% if form.penalty.errors %}
                                        {{ form.penalty(class="form-control is-invalid", id="bill-penalty-cost", placeholder="Penalty Cost") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.penalty.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.penalty(class="form-control", id="bill-penalty-cost", placeholder="Penalty Cost") }}
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        

                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class = "form-group">
                                        <button type="submit" class="btn btn-outline-success  btn-block mx-auto" name='submit' value="submit">Submit</button> 
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class = "form-group">
                                    <button type="submit" class="btn btn-outline-danger  btn-block mx-auto" name='submit' value="delete">Delete</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="row justify-content-center">
        
            <span class="display-4"> Already Present Slabs</span>
        
    </div>
    <br><br>
    <div class="row justify-content-center">
        {% if items is not none %}
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Lower - Upper Slab</th>
                    <th>Housing Meter Reading Cost</th>
                    <th>Commercial Meter Reading Cost</th>
                    <th>Penalty</th>
                    
                </tr>
                </thead>
                {% for item in items %}
                    <tbody>
                        <tr>
                            <td>{{item.lower_slab}} - {{item.upper_slab}}</td>
                            <td>{{item.housing}}</td>
                            <td>{{item.commercial}}</td>
                            <td>{{item.penalty}}</td>
                        </tr>
                    </tbody>
                {% endfor %}
        </table>
        {% else %}
            <span> No Data Found. Please Fill in data.</span>
        {% endif %}
    </div>

</div>



</div>

{% endblock content %}