{% extends 'layout/layout.html' %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-header text-center" style="background-color:#17252A; color: white;">
                    Signup
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.password.label(for="user-password") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid", id="user-password", placeholder="Enter Password") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control", id="user-password", placeholder="Enter Password") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password_confirm.label(for="user-password-confirmation") }}
                            {% if form.password_confirm.errors %}
                                {{ form.password_confirm(class="form-control is-invalid", id="user-password-confirmation", placeholder="Enter Password Confirmation") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password_confirm.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password_confirm(class="form-control", id="user-password-confirmation", placeholder="Enter Password Confirmation") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-success btn-block mx-auto") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}